*~
kicad-library_*.tar.bz2
KiCad_*.dmg
bzr-bin
bzr-src
bzrtools-src
cmake-bin
cmake-src
downloads
kicad-bin
kicad-build
kicad-doc-build
kicad-doc-src
kicad-library-bin
kicad-library-build
kicad-library-src
kicad-src
wx-bin
wx-build
wx-src
